# API settings
PORT=3000
BIND_ADDRESS=0.0.0.0

# SSL settings
SSL=false
SSL_KEY_FILE=server.key
SSL_CERT_FILE=server.crt

# Security
PRIVATE_KEY=private_key
ADMIN_KEY=admin_key

# Webtoon settings (facultative if database is used)
SAVE_PATH=webtoons

# Database settings
DB_TYPE=sqlite#mysql, postgres, sqlite
DB_HOST=localhost
DB_PORT=3306
DB_USER=username
DB_PASSWORD=password
DB_NAME=database
DB_LOGGING=false
DB_SEED=false
