* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

a, button, input, textarea, span {
    color: currentColor;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

ul, ol {
    list-style-type: none;
}

img, video, svg {
    display: block;
    max-width: 100%;
}
